<body style="background-image: url('assets/images/login2.jpeg');">

    <div class="wrapper">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <h1 style="color:black">Sign up</h1>
        
        <div class="inputbox">
          <div class="inputfield">
            <input type="text" placeholder="First Name" formControlName="firstName">
          </div>
          <div *ngIf="registrationForm.get('firstName')?.errors && registrationForm.get('firstName')?.touched" 
                 class="form-text text-center text-danger">first Name is required and must be  only chars and at least 3 chars </div>
        </div>
  
        <div class="inputbox">
            <div class="inputfield">
              <input type="text" placeholder="Last Name" formControlName="lastName">
            </div>
            <div *ngIf="registrationForm.get('lastName')?.errors && registrationForm.get('lastName')?.touched" 
                   class="form-text text-center text-danger">last Name is required and must be  only chars and at least 3 chars </div>
          </div>


        <div class="inputbox">
          <div class="inputfield">
            <input type="text" placeholder="UserName" formControlName="userName">
          </div>
          <div *ngIf="registrationForm.get('userName')?.errors && registrationForm.get('userName')?.touched" 
                 class="form-text text-center text-danger">userName is required and must be at least 3 chars and not space</div>
        </div>
  


        <div class="inputbox">
          <div class="inputfield">
            <input type="email" placeholder="Email" formControlName="email">
          </div>
          <div *ngIf="registrationForm.get('email')?.errors && registrationForm.get('email')?.touched" 
                 class="form-text text-center text-danger">Email address must be from'&#64;gmail.com' domain</div>
        </div>


        <div class="inputbox">
          <div class="inputfield">
            <input type="password" placeholder="Password" formControlName="password">
          </div>
          <div *ngIf="registrationForm.get('password')?.errors && registrationForm.get('password')?.touched" 
                 class="form-text text-center text-danger">Password is required and must between 6 and 20 chars</div>
        </div>


        <div class="inputbox">
          <div class="inputfield">
            <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
            <div *ngIf="registrationForm.get('confirmPassword')?.hasError('passwordMismatch')" 
                    class="form-text text-center text-danger">Passwords do not match</div>
            
          </div>
        </div>
      
        <div class="inputbox">
            <div class="inputfield">
              <input type="text" placeholder="Phone Number" formControlName="phoneNumber">
            </div>
            <div *ngIf="registrationForm.get('phoneNumber')?.errors && registrationForm.get('phoneNumber')?.touched" 
                   class="form-text text-center text-danger">phone Number is required and must be only 11 Numbers </div>
          </div>
    
          <div class="inputbox">
              <div class="inputfield">
                <input type="text" placeholder="Country" formControlName="country">
              </div>
              <div *ngIf="registrationForm.get('country')?.errors && registrationForm.get('country')?.touched" 
                     class="form-text text-center text-danger">country is required </div>
            </div>

            <div class="inputbox">
                <div class="inputfield">
                  <input type="text" placeholder="City" formControlName="city">
                </div>
                <div *ngIf="registrationForm.get('city')?.errors && registrationForm.get('city')?.touched" 
                       class="form-text text-center text-danger">country is required </div>
              </div>
        
        <div *ngIf="errormessage"
            class="form-text text-center text-danger">{{errormessage}}
          </div>
          
        <button type="submit" [disabled]="registrationForm.invalid"  style="background-color: #55b02baf;">Sign up</button>
        
        
      </form>
    </div>
    <span *ngIf="show" class="loader"></span>
    <div *ngIf="registrationSuccess" class="success-alert" >
      Registration successful!
    </div>
    </body>
    
    
  
  